*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

}
.App{
    margin: auto;
    width: auto;
    height: auto;
}
.WeatherCard{
    background-color: aquamarine;
}
.clock{
    width: auto;
    height: auto;
    background-color: aqua;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;

}

.clase1{
    background-color: white;

}
.clase2{
    background-color: blueviolet;
    width: 100%
}
.clouds{

    background-color: red;
}
.cardW{
    background-color: aliceblue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:auto;
    height: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}
.text{

    text-transform: capitalize;

}

.iconW{
width: 150px;
height: 200px;

}
.iconW img{
    width: 100%;

}