*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

}
.App{
    margin: auto;
    width: auto;
    height: auto;
    
    
}
.WeatherCard{
    background-color: aquamarine;
}
.clock{
    width: auto;
    height: auto;
    background-color: aqua;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;
    background-image: ;

}
.Clear{
    background-image: url(../background/Clear.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.Thunderstorm{
    background-image: url(../background/Thunderstorm.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
.Drizzle{
    background-image: url(../background/Drizzle.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Mist{
    background-image: url(../background/Mist.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Snow{
    background-image: url(../background/Snow.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Smoke{
    background-image: url(../background/Thunderstorm.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Haze{
    background-image: url(../background/Haze.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Dust{
    background-image: url(../background/Dust.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Fog{
    background-image: url(../background/Fog.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Sand{
    background-image: url(../background/Sand.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Dust{
    background-image: url(../background/Dust.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Ash{
    background-image: url(../background/Ash.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Squall{
    background-image: url(../background/Squall.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Tornado{
    background-image: url(../background/Tornado.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.Rain1{
    background-image: url(../background/Rain1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.Clouds {
    background-image: url(../background/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.cardW{
    background-color: aliceblue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:auto;
    height: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}
.text{

    text-transform: capitalize;

}

.iconW{
width: 150px;
height: 200px;

}
.iconW img{
    width: 100%;

}
